<%- if signed_in? -%>

  <h4>Projects</h4>
  <ul>
    <%- current_org.projects.each do |project| -%>
      <li><%= link_to project, project_path(project) %></li>
    <%- end -%>
  </ul>

<%- else -%>
  <div class="alert alert-danger">You are not signed in! <%= link_to 'Sign in via Github...', '/auth/github', class: 'alert-link' %></div>
<%- end -%>